body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(157, 225, 237);
}

#box{
  position: relative;
  padding: 0 70px;
  overflow: hidden;
}

.carousel{
  box-sizing: border-box;
  width: 400px;
  height: 320px;
  overflow: hidden;
}


#btns{

}

.btn-prev, .btn-next {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

.btn-prev:hover, .btn-next:hover {
  background: white;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}


.btn{
  width: 20px;
  padding: 5px;
  border: none;
  background-color: rgb(219, 118, 153);
  cursor: pointer;
}



.image{
  box-sizing: border-box;
  width: 100%;
  height: 45vh;
  display: block;
}
